#title {
  height: auto;
}

.big-heading {  
  font-size: 2.6rem;
  line-height: 1;
  color: #00131a;
  margin-top: 5%;
  text-shadow: 2px 2px white;
}

.find-me {
  margin: 5% 0 2% 0;
}

.title-img {
  width: 100%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
